*
{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body
{
  background-color: rgb(231, 231, 231);
  
}
Link
{
  text-decoration: none;
}
::-webkit-scrollbar-track
{
  width: 2px;
}
::-webkit-scrollbar-thumb
{
  background-color: red;
  color: red;
}